body{
    @media only screen and (min-width: $bigscreen){
        display: grid;
        grid-template-columns: 1fr $screen 1fr;
    }
}
.header{
    @media only screen and (min-width: $ipad){
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }
    @media only screen and (min-width: $bigscreen){
        grid-column: 2/3;
    }

    &__container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100vw;
    margin-top: 30px;
    @media only screen and (min-width: $ipad){
        width: 250px;
        margin-top: 0;
    }
    

        &-logo{
            margin-left: 30px;
            img{
                width: 103px;
            }       
        }

        &-nav-btn{
            margin-right: 30px;

            @media only screen and (min-width: $ipad){
                display: none;
            }
            a{
                color: $color-primary;
            }       
        }
    }

    &__nav{
        display: none;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;
        height: 90vh;

        font-size: 1.7rem;

        @media only screen and (min-width: $ipad){
            margin-right: 30px;
            display: flex;
            flex-flow: row;
            justify-content: space-around;
            height: auto;
            width: 60%;
            font-size: 18px;
            
        }
        a{
            color: $color-primary;
            
            @media only screen and (min-width: $ipad){
                &.active{
                    color: white;
                    background: $color-primary;
                    padding: 9px 15px;
                    border-radius: .5rem;
                }
            }
            
        }
        a:hover {
            color: white;
                    background: $color-primary;
                    padding: 9px 15px;
                    border-radius: .5rem;
          }
         
    }
}



////////////////////////////////////////////
////////////////////////////////////////////
.hero{
    display: flex;
    flex-direction: column;

    margin-left: 30px;
    margin-right: 30px;

    @media only screen and (min-width: $ipad){
        // width: 1239px;
        // height: 650px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        background-color: $color-footer;

        justify-content: space-around;
    }

    @media only screen and (min-width: $bigscreen){
        grid-column: 2/3;
    }
    
    &__content{
        height: 200px;
        display: flex;
        justify-content: space-around;
        flex-flow: column ;
        @media only screen and (min-width: $ipad){
            margin-left: 40px;
            margin-top: 30px;
        }
        @media only screen and (min-width: $ipadpro){
            margin-left: 56px;
            margin-top: 61px;
        }

        h1{
            font-size: 47px;
            font-weight: 500;
            @media only screen and (min-width: $ipad){
                color: $color-btn-howitworks;
                font-size: 54px;
            }
            @media only screen and (min-width: $screen){
font-size: 96px;
            }
        }
        p{
            font-size: 13px;
            @media only screen and (min-width: $ipad){
                color: $color-btn-howitworks;
                font-size: 18px;
            }
            @media only screen and (min-width: $ipadpro){
                font-size: 24px;
                // margin-top: 73px;
            }
        }

        @media only screen and (min-width: $ipad){
            grid-row: 1/3;
            grid-column: 1/4;
            z-index: 10;
        }
    }

    &__img{
        @media only screen and (min-width: $ipad){
            grid-column: 3/6;
            grid-row: 1/4;
            
        }
        img{
            width: 315px;
            border-radius: .5rem;
            @media only screen and (min-width: $ipad){
                width: 100%;
                height: 100%;
            }  
        }        
    }

    &__btn{
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        border: none;
        width: 140px;
        height: 30px;
        font-size: 14;
        color: #fff;
        background-color: $color-primary;
        border-radius: .5rem;

        @media only screen and (min-width: $ipad){
            grid-column: 1/3 ;
            font-size: 16px;
            height: 40px;
        }       
        @media only screen and (min-width: $screen){
            font-size: 24px;
            height: 55px;
            width: 210px;
        } 
    }
}
////////////////////////////////////////////
////////////////////////////////////////////
.form{
    display: none;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 14px;
    border-radius: .5rem;

    @media only screen and (min-width: $ipad){
        width: 536px;
        margin-left: auto;
        margin-right: auto;
    }

    @media only screen and (min-width: $bigscreen){
        grid-column: 2/3;
    }
    
        

    .close{
        margin-top: 15px;
        text-align: right;
        color: white;
    }

    background-color: $color-secondary;

    &__content{
        margin-left: 30px;
        margin-right: 30px;
       
    }

    &__content-body{

        height: 760px;
        h5{
            margin-top: 200px;
            color: #fff;
            font-size: 36px;
            font-weight: 400;
            text-align: center;
        }


        // input icon positioning
        .form-control{
            position: relative;

            
            label{
                display: inline-block;
                margin-bottom: 5px;
                color: #fff;
            }
            
            .check, .warning{
                position: absolute;
                right: 15px;
                top: 40px;
            }

           
            // .error input{
            //     border-color: cc71;
            //     }
            // }
        }

        // input field
        .text-control{
            width: 100%;
            height: 50px;
            border-radius: .5rem;
            border: none;
            //  

            
            
        }
        
        small{
            color:$color-primary;
            visibility: hidden;
        }
    }

    &__location{
        font-size: 12px;
        display: grid;
        grid-template-columns: 1fr 1.2fr 1fr ;
        grid-template-rows: 35px  15px;
        margin-bottom: 20px;
    }
}

#locationsmall{
    grid-column: 1/-1;
    font-size: 14px;
    margin-top: 10px;
}

// icon check & warning
.check, .warning{
    visibility: hidden;
}

.form__location.success .check,
.form-control.success .check{
    color: $color-tertiary;
    visibility: visible;
    grid-row: 3;
    grid-column: 3;
}
.form-control.error input{
    border: 2px $color-primary solid;
}
// error sign icon
.form__location.error .warning,
.form-control.error .warning{
    color: $color-primary;
    visibility: visible;
    grid-row: 3;
    grid-column: 3;    
}
.mr{
    margin-left: auto;
    margin-right: 12px;
}
// error message small
.form__location.error small,
.form-control.error small{
    color: $color-primary;
    visibility: visible;
}


//////////////////////////////////////////
// checkbox input
// .checkbox-input {
//     display: inline-block;
    
// }
// .checkbox-icon{
//     color: $color-tertiary;
//     // .checked{
//     //     // display: none;
//     // }

//     .unchecked{
//         display: inline-block;
//     }
    
// }

// .form__location-block input:checked +  .form__location-block.checkbox-label.checkbox-icon.checked::before{
//     display: inline-block;
// }

// .form__location-block input:checked + .form__location-block.checkbox-label.checkbox-icon .unchecked::before{
//     display: inline-block;
// }

.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}
.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}
.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}
.checkbox-input {
  display: none;
}
.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}
.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #279e7a;
}
.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}
.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}


/////////////////////////////////////////////////////////////////////////////

.signup__btn,
.signupclose__btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: none;
    width: 140px;
    height: 30px;
    font-size: 14;
    color: #fff;
    background-color: $color-primary;
    border-radius: .5rem;
}

.signupclose__btn{
    margin-top: 150px;
}
////////////////////////////////////////////
////////////////////////////////////////////
footer{
    font-size: 10px;
    color: $color-primary;

    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @media only screen and (min-width: $bigscreen){
        grid-column: 2/3;
    }
}